<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Mercury Knights Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1>Welcome to Mercury Knights application</h1>
    {{{body}}}
</div>
<img src="https://th.bing.com/th/id/R.01209614ed2deb6f0f229ae5bf80f233?rik=53UzpQp23AcvFQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f-CK6EN7xY2JY%2fT4k9fmdGJ7I%2fAAAAAAAAGDs%2f7YHvdNa-fbs%2fs1600%2fcute-puppy-wallpapers%2b(1).jpg&ehk=nKwq%2bEke1b2DFi7Ne75TpKFtUUaVYq4t7YunI%2bI2hqw%3d&risl=&pid=ImgRaw&r=0">
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       location: <input name="location" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>